@font-face {
  font-family: 'monal';
  src:  url('../assets/font/monal.eot');
  src:  url('../assets/font/monal.eot') format('embedded-opentype'),
    url('../assets/font/monal.ttf') format('truetype'),
    url('../assets/font/monal.woff') format('woff'),
    url('../assets/font/monal.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'monal' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* line-height: 1; */

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Star-1:before {
  content: "\e949";
  color: #f7c000;
}
.icon-web-1:before {
  content: "\e944";

}
.icon-user-7-1:before {
  content: "\e941";

}
.icon-tag-1-1:before {
  content: "\e942";

}
.icon-Group1:before {
  content: "\e943";

}
.icon-bg-Vector:before {
  content: "\e938";

}
.icon-creative-1:before {
  content: "\e939";

}
.icon-choose-1:before {
  content: "\e93a";

}
.icon-drag-1:before {
  content: "\e93b";

}
.icon-iconmail:before {
  content: "\e937";
  color: #005de0;
}
.icon-Iconbox .path1:before {
  content: "\e92f";
  color: rgb(0, 0, 0);
}
.icon-Iconbox .path2:before {
  content: "\e936";
  margin-left: -0.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-Group13:before {
  content: "\e92e";
 
}
.icon-Icon81:before {
  content: "\e926";
 
}
.icon-Icon71:before {
  content: "\e927";
 
}
.icon-Icon61:before {
  content: "\e928";
 
}
.icon-Icon51:before {
  content: "\e929";
 
}
.icon-Icon4:before {
  content: "\e92a";
}
.icon-Icon3:before {
  content: "\e92b";
}
.icon-Icon2:before {
  content: "\e92c";
}
.icon-Icon10:before {
  content: "\e92d";
}
.icon-play:before {
  content: "\e925";
 
}
.icon-Line:before {
  content: "\e924";
  color: #005de0;
}
.icon-mail:before {
  content: "\e930";
}
.icon-customer-service:before {
  content: "\e931";
 
}
.icon-web-design:before {
  content: "\e932";
 
}
.icon-cyber-security:before {
  content: "\e933";
 
}
.icon-surface:before {
  content: "\e934";
 
}
.icon-app-development:before {
  content: "\e935";
}
.icon-phone-message-1:before {
  content: "\e923";
  color: #005de0;
}
.icon-Union:before {
  content: "\e920";

}
.icon-development-1:before {
  content: "\e93c";
 
}
.icon-training-1:before {
  content: "\e93d";

}
.icon-ux-interface:before {
  content: "\e918";

}
.icon-Group2:before {
  content: "\e919";

}
.icon-Group:before {
  content: "\e91a";
 
}
.icon-web-development-1:before {
  content: "\e91b";

}
.icon-Vector1:before {
  content: "\e917";

}
.icon-Icon9:before {
  content: "\e912";
}
.icon-Icon1:before {
  content: "\e91d";

}
.icon-date:before {
  content: "\e913";
 
}
.icon-Icon8:before {
  content: "\e910";
 
}
.icon-Icon7:before {
  content: "\e911";
}
.icon-email-10-1:before {
  content: "\e93e";

}
.icon-phone-1-1:before {
  content: "\e93f";

}
.icon-meeting-point-1:before {
  content: "\e940";

}
.icon-diskette-1:before {
  content: "\e91c";

}
.icon-Icon6:before {
  content: "\e90e";
}
.icon-Icon5:before {
  content: "\e90f";
}
.icon-cloud:before {
  content: "\e90a";
}
.icon-app:before {
  content: "\e90b";
}
.icon-coding:before {
  content: "\e90c";
 
}
.icon-Page-1_50:before {
  content: "\e90d";
}
.icon-shopping-cart-4-1:before {
  content: "\e94a";
 
}
.icon-BG .path1:before {
  content: "\e945";
  color: rgb(232, 232, 233);
}
.icon-BG .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(0, 176, 252);
}
.icon-Icon11 .path1:before {
  content: "\e947";
  color: rgb(0, 176, 252);
}
.icon-Icon11 .path2:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-pin:before {
  content: "\e921";
 
}
.icon-mail3:before {
  content: "\e922";
 
}
.icon-Icon13:before {
  content: "\e91e";

}
.icon-Icon12:before {
  content: "\e91f";

}
.icon-world:before {
  content: "\e916";

}
.icon-bubble-chat:before {
  content: "\e914";
}
.icon-user2:before {
  content: "\e915";
}
.icon-Reply:before {
  content: "\e909";

}
.icon-view:before {
  content: "\e902";

}
.icon-chat:before {
  content: "\e903";

}
.icon-user:before {
  content: "\e904";

}
.icon-Vector:before {
  content: "\e901";
}
.icon-mouse:before {
  content: "\e908";
 
}
.icon-infomation3:before {
  content: "\e905";

}
.icon-infomation2:before {
  content: "\e906";

}
.icon-infomation:before {
  content: "\e907";

}
.icon-Icon:before {
  content: "\e900";
  color: #7141b1;
}
