@use '../abstracts/' as *;

/* tf-button
-------------------------------------------------------------- */
.tf-button {
    z-index: 3;
    position: relative;
    display: inline-block;
    background: $color-6;
    color: $white;
    font-weight: $font-w7;
    padding: 0px 43px;
    height: 60px;
    border: none;
    border-radius: 4px;
    line-height: 60px;
    span {
        @include transition5;
        font-family: $font-main;
        font-size: 16px;
        line-height: 1.31875;
        color: $white;
        text-transform: uppercase;
    }
    &:hover {
        background: $color-hover;
        span {
            color: $white;
        }
    }
}

.btn-effect1 {
    .tf-button {
            overflow: hidden;
            border-radius: 30px;
            position: relative;
            background: transparent;
            &::after {
                @include transition4;
                position: absolute;
                border-radius: 30px;
                content: "";
                background: $bg-gradient;
                background-size: 100% 100%;
                background-position: 100% 100%;
                width: 100%;
                height: 100%;
                left: 0%;
                top: 0;
                z-index: -1;
            }
        &:hover {
            &::after {
                @include transition4;
                background-size: 300% 100%;
                background-position: 100% 100%;
            }
        }

    }
}
