
$txt-color: #494A4D;
$white: #fff;
$color-hover: #00B0FC;
$color-st1: #1B1D21;
$color-st2 :#494A4D;
$font-main: 'Roboto Slab', serif;
$font-main2: 'Inter', sans-serif;
$font-main3: 'Domine', serif;
$font-main4: 'Roboto', sans-serif;
$bg-main: #100D1E;
$header-height: 100px;
$bgr-body :#F2F2F2;
$bg-3 :#141A31;
$bg-4 :rgba(34,183,143,0.1);
$border-width: 2px;
$corner-size: 3rem;
$font-w6:600;
$font-w7:700;
$color-main1 :#010C2A; 
$color-main2 :#565660; 
$color-3 :#0e2230;
$color-4 :#F6F6F6; 
$color-5: #00B0FC;
$color-6: #7141B1;
$color-7: #9000FF;
$w100:100%;
$mb-30: 30px;
$mg32: 32px;
$mb-40: 40px;
$ml-30: -30px;
$center: center;

$padding-right:18px;

$box-shadow: 0 10px 70px 0 rgba(0, 0, 0, 0.1);
$box-shadow2: 0 0px 70px 0 rgba(0, 0, 0, 0.07);
$box-shadow3: 0 20px 70px 0 rgba(0, 0, 0, 0.2);
$box-shadow4: 0 10px 70px 0 rgba(0, 0, 0, 0.07);
$box-shadow5: 0 0px 15px 0 rgba(0, 0, 0, 0.07);

$boder-bt: 1px solid rgba(255,255,255,0.2);
$bg-gradient:  linear-gradient(246.06deg, #CF00FE -19.26%, #005DE0 87.05%);
$bg-gradient2: linear-gradient(90deg, #005DE0 0%, #00B0FC 100%);
$bg-gradient3: linear-gradient(180deg, rgba(8, 105, 193, 1) 0%, rgba(0, 176, 252, 1) 100%);
$bg-gradient4: linear-gradient(180deg, rgba(8, 105, 193, 0.1) 0%, rgba(0, 176, 252, 0.1) 100%);
$res_1760: 1760px;
$res_1600: 1600px;
$res_1440: 1440px;
$res_1200: 1200px;
$res_991: 991px;
$res_767: 767px;
$res_600: 600px;
$res_500: 500px;
$res_400: 500px;
